include ../mixins/functions

+pageHeader('Materias primas y equipos para el procesamiento de frutas y verduras', 'assets/images/header/header_media.svg')
#definicion

.container
    .header-ecored
        h1 Introducción
        .brand-line-primary
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/intro.png").img-fluid
    .header
        p En el procesamiento de frutas y verduras el primer aspecto a considerar es la materia prima que va a ser procesada y que determinará en gran medida la calidad del producto final; así mismo, los ingredientes utilizados cumplen una función específica que aumentan el valor agregado del producto.
        p Teniendo en cuenta la gran versatilidad de las frutas y verduras, existen numerosos equipos para su procesamiento, algunos específicos para cierta materia prima y otros que se pueden adaptar a las condiciones requeridas.
        p Esta actividad de aprendizaje trata sobre las materias primas, principalmente ingredientes y equipos para el procesamiento de frutas y verduras.