include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#impacto

    .row-12

        h1 Introducción

        .brand-line-primary


    .row-12.text-center

        img(src="assets/images/pages/img1.svg", style="width: 10%")
    
    .row-12

        hr(style="border: solid 2px; color: #7CB342")

        p Las frutas y verduras se comportan como organismos vivos, porque respiran y transpiran al igual que los seres humanos. A pesar que las etapas de desarrollo son las mismas, existen particularidades en cada materia prima que determina los cuidados en su recolección y manejo.

        p Esta actividad de aprendizaje trata sobre las características de frutas y verduras que influyen en su procesamiento tales como su composición fisicoquímica y transformaciones naturales.

        hr(style="border: solid 2px; color: #7CB342")