include ../mixins/functions

+pageHeader('Materias primas y equipos para el procesamiento de frutas y verduras', 'assets/images/header/header_media.svg')
#definicion

.container
    .header-ecored
        h1 Introducción
        .brand-line-primary
        img.img-a.mt-2(src="assets/images/pages/ilustraciones/intro.png").img-fluid
    .header
        p Las frutas y verduras se comportan como organismos vivos porque respiran y transpiran al igual que los seres humanos. A pesar de que las etapas de desarrollo son las mismas, existen particularidades en cada materia prima que determina los cuidados en su recolección y manejo. 
        br
        p Este material de formación aborda las características de frutas y verduras que influyen en su procesamiento, tales como su composición fisicoquímica y transformaciones naturales.
