.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

            tr
                td 
                    strong FAO. (2000). Fisiología de la fruta, Manual de manejo postcosecha de frutas tropicales. 
                td Capítulo de manual
                td 
                    a(href="http://www.fao.org/3/a-ac304s.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong Planeta Agronómico. (2016). Productos compatibles para almacenar y madurar juntos. 
                td Video
                td 
                    a(href="https://www.youtube.com/watch?v=82y6XPEbtkM", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver