.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                th.text-center Enlace del Recurso o Archivo del documento o material

        tbody
            tr
                td
                    strong MadeInAragon. (2015). Elaboración de melocotón en almíbar. 
                td Video
                td 
                    a(href="https://www.youtube.com/watch?v=xvFjTj2O09I", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver

            tr
                td 
                    strong Rodríguez E. (2011). Uso de agentes antimicrobianos naturales en la conservación de frutas y hortalizas. 
                td PDF
                td 
                    a(href="media/documentos/MC_Uso_de_agentes_antimicrobianos_naturales.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar