.container

  ol

    li
      p 
        | Arthey D. & Ashurst P.R. (1997). Procesado de frutas. Zaragoza: Acribia S.A.
        
    li
      p 
        | Bosquez E. y Colina M. (2012). 
        i Procesamiento térmico de frutas y hortalizas. 
        | México: Trillas. 

    li
      p 
        | De Michelis A. (2006). 
        i Elaboración y conservación de frutas y hortalizas: procedimientos para el hogar y para pequeños emprendimientos comerciales. 
        | Buenos Aires: Hemisferio Sur S.A.

    li
      p 
        | FAO. (2000). 
        i Fisiología de la fruta, Manual de manejo postcosecha de frutas tropicales.  
        | Proyecto TCP/PER/6713 (a) "Técnicas mejoradas de postcosecha, procesamiento y comercialización de frutas". Roma, Italia: FAO. Recuperado de 
        a(href="http://www.fao.org/3/a-ac304s.pdf", target="_blank") http://www.fao.org/3/a-ac304s.pdf

    li
      p 
        | Meyer M. & Paltrinieri G. (2010). 
        i Elaboración de frutas y hortalizas. 
        | México: Trillas. 
    li
      p 
        | Planeta Agronómico. (2016, Agosto 2). 
        i Productos compatibles para almacenar y madurar juntos. 
        | Recuperado de 
        a(href="https://www.youtube.com/watch?v=82y6XPEbtkM", target="_blank") https://www.youtube.com/watch?v=82y6XPEbtkM