.container

  ol

    li
      p 
        | Bosquez E. y Colina M. (2012). 
        i Procesamiento térmico de frutas y hortalizas.  
        | México: Trillas.

    li
      p 
        | De Michelis A. (2006). 
        i Elaboración y conservación de frutas y hortalizas: procedimientos para el hogar y para pequeños emprendimientos comerciales. 
        | Buenos Aires: Hemisferio Sur S.A.

    li
      p 
        | Guzman R. y Segura E. (1991). 
        i Introducción a la tecnología de alimentos. 
        | Bogotá: Unisur.

    li
      p 
        | MadeInAragon. (2015, Septiembre 27). 
        i Elaboración de melocotón en almíbar.  
        | [Archivo de video]. Recuperado de  
        a(href="https://www.youtube.com/watch?v=xvFjTj2O09I", target="_blank") https://www.youtube.com/watch?v=xvFjTj2O09I

    li
      p 
        | Meyer M. & Paltrinieri G. (2010). 
        i Elaboración de frutas y hortalizas. 
        | México: Trillas. 
        i Resolución 2606 de 2009. Por la cual se establece el Reglamento Técnico sobre los requisitos que deben cumplir los aditivos alimentarios que se fabriquen, procesen, envasen, almacenen, transporten, expendan, importen, exporten, comercialicen y se empleen en la elaboración de alimentos para consumo humano en el territorio nacional. 
        | [Ministerio de Salud]. Recuperado de 
        a(href="https://normograma.info/invima/docs/resolucion_minproteccion_2606_2009.htm", target="_blank") https://normograma.info/invima/docs/resolucion_minproteccion_2606_2009.htm
    li
      p 
        | Resolución 4125 de 1991. 
        i Por la cual se reglamenta el Título V Alimentos, de la Ley 09 de 1979, en lo concerniente a los CONSERVANTES utilizados en alimentos. 
        | [Ministerio de Salud]. Recuperado de 
        a(href="https://normograma.info/invima/docs/resolucion_minsalud_r4125_91.htm?q=conservantes", target="_blank") https://normograma.info/invima/docs/resolucion_minsalud_r4125_91.htm?q=conservantes
    li
      p 
        | Resolución 10593 de 1985. 
        i Por la cual se establecen los colorantes y cantidades máximas utilizados en alimentos. 
        | [Ministerio de Salud]. Recuperado de 
        a(href="https://www.invima.gov.co/images/stories/resoluciones/resolucion_10593_1985.pdf", target="_blank") https://www.invima.gov.co/images/stories/resoluciones/resolucion_10593_1985.pdf
  
    li
      p 
        | Resolución 4124 de 1991. 
        i Por la cual se reglamenta el Título V Alimentos, de la Ley 09 de 1979, en cuanto concierne a los ANTIOXIDANTES que se pueden utilizar en alimentos. 
        | [Ministerio de Salud]. Recuperado de 
        a(href="https://www.invima.gov.co/images/stories/resoluciones/resolucion_4124_1991.pdf", target="_blank") https://www.invima.gov.co/images/stories/resoluciones/resolucion_4124_1991.pdf

    li
      p 
        | Rodríguez E. (2011). 
        i Uso de agentes antimicrobianos naturales en la conservación de frutas y hortalizas. 
        | Revista Ra Ximhai, 7(1), p. 153-170. Recuperado de 
        a(href="http://www.revistavirtualpro.com.bdigital.sena.edu.co/download/uso-de-agentes-antimicrobianos-naturales-en-la-conservacion-de-frutas-y-hortalizas.pdf", target="_blank") http://www.revistavirtualpro.com.bdigital.sena.edu.co/download/uso-de-agentes-antimicrobianos-naturales-en-la-conservacion-de-frutas-y-hortalizas.pdf


    li
      p 
        | Vásquez T. (2014). 
        i Diseño de una planta piloto para el procesamiento de frutas en la facultad de Ingeniería Química. 
        | (Tesis de pregrado). Universidad Central del Ecuador. Quito, Ecuador. Recuperado de 
        a(href="http://www.dspace.uce.edu.ec/bitstream/25000/3492/1/T-UCE-0017-92.pdf", target="_blank") http://www.dspace.uce.edu.ec/bitstream/25000/3492/1/T-UCE-0017-92.pdf